---
layout: default
---

<div class="container">
    <div style="position: relative;width: 100%;max-width: 780px;max-width: 0 auto;padding-top: 2rem;">
        <h2>
            {{page.category | capitalize}}
        </h2>
        {% for post in site.posts %} {% if post.categories contains page.category %}
        <article class="hvr-underline-from-center"><a class="text-body hvr-underline-from-center"
                href="{{ post.url }}">{{
                post.title }}</a><span style="float: right;text-align: right; color: #a9a9b3;" class="text-secondary">{{
                post.date | date_to_string
                }}</span></article>
        {% endif %} {% endfor %}
    </div>
</div>
<!-- 
<section class="small-intro">
    <div class="container">
        <h2>
            {{page.category | capitalize}}
        </h2>
    </div>
</section>
<section class="blog">
    <div class="container">
        {% for post in site.posts %} {% if post.categories contains page.category %}

        <div class="blog-container">
            <div class="">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2><span>{{ post.date | date_to_string }}</span>
            </div>
        </div>
        {% endif %} {% endfor %}
    </div>
</section> -->